:root {
  --fuente-principal: "Raleway", sans-serif;
  --fuente-heading: "Staatliches", cursive;

  --blanco: #fff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739 !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #4d4242;
  color: var(--blanco);
}

.chart-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.scrollable-table {
    display: block;
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    max-width: auto;
    overflow-y: auto;
}

tr{
    background-color: #34383f;
}