@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&display=swap');

:root {
  --fuente-principal: 'Raleway', sans-serif;
  --fuente-heading: 'Staatliches', cursive;

  --blanco: #fff;
}


body {
  margin: 0;
  height: 120%;
  font-family: var(--fuente-principal);
  background-color: #1F2739 !important;
}

p {
  color: var(--blanco);
}

a {
  text-decoration: none
}

.header {
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
  min-height: 400px;
  max-height: 550px;
  min-width: 300px;
  color: #eee;
}

.header:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgba(27, 32, 48, .60) 100%);
}

.header:before {
  content: "";
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  transform: translateZ(0);
  background: #1B2030 url(../img/img_header.jpg) 50% 0 no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* animation: grow 360s linear 10ms infinite;
  transition: all 0.4s ease-in-out; */
  z-index: -2;
  opacity: 0.6;
  margin-left: 2rem;
}

.header a {
  color: #eee
}

.logo {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1;
  box-sizing: border-box;
  height: 40px
}

.info {
  width: 100%;
  padding: 7% 10% 0 10%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.info h4,
.info h1,
.info div {
  margin-bottom: 2.2rem;
}

.info h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.info h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.author {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../img/logo_UNA.png) center no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 12px
}

.meta {
  font-style: italic;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px)
  }

  50% {
    transform: scale(1.2) translateY(-400px)
  }
}

.content {
  padding: 5% 10%;
  text-align: justify
}

.btn {
  color: #333;
  border: 2px solid;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 600
}

.twtr {
  margin-top: 100px
}

.btn.twtr:after {
  content: "\1F426";
  padding-left: 5px
}


ul {
  margin: 0px;
  padding: 0px;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

/* Específica el área para las celdas de la segunda fila */
.celda-combinada {
  grid-row: 2;
  grid-column: span 2;
  /* Ocupar dos columnas */
}

.container-main {
  display: flex;
  flex-direction: column;
  /* Dos filas, la primera con contenido y la segunda automática */
  margin-left: 2rem;
}